@import url('https://fonts.googleapis.com/css?family=Be+Vietnam&display=swap');
body {
    padding: 0;
    margin: 0; 
}
  
* {
    box-sizing: border-box;
}
.wrapper{
    max-width: 1406px;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto; 
    
  
}
header{

    background:  rgba(0, 0, 0, 0.5) url(../images/ap-ui.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    
}
.menu-header{
    
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    border-bottom: 1px solid #ffffff;
    ul{
        padding: 0;
        margin:0;
        display: flex;
    }
}   
#burg,
.mobile-tab,
#mobile{
    display: none;
}
    .logo{
        margin-left:30px;
        margin-bottom: 20px;
        a{
            font:24px 'Be Vietnam', sans-serif;
            text-decoration: none;
            color: #da2346;
            font-weight: 400;
            line-height: 28px;
            span{
                color: #ffffff;
            }
        }
            
    }
    .menu{
        margin-bottom: 20px;
        transition: 0.3s linear;
        li{
            list-style-type: none;
            padding: 5px;
            margin:0;
            margin-left:30px;
            transition: 0.3s linear;
       
            a{  
                font:20px 'Be Vietnam', sans-serif;
                text-decoration: none;
                color: #ffffff;
                font-weight: 400;
                letter-spacing: 2px;
                transition: 0.3s linear;
            }
        }
        li:first-child{
            margin-left:0;
        }
        a:hover{
         color: #097e89;
        }
    }
    .icon{
        margin-right: 43px;
        margin-bottom: 20px;
        ul{
            display: flex;
            li{
                list-style-type: none;
                padding: 0;
                margin:0;
                margin-left:5px;
                a{                 
                    text-decoration: none;
                    border: 1px solid #f1f1f18c;
                    border-radius: 30px;
                    padding: 5px;
                    width: 25px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s linear;
                }
                a:hover{
                    background: #59a5fb;
                }
            }
        }
        
    }
   
@media(max-width:1041px){
    .menu-header{
        .menu{
            li{
                margin-left:10px;
               
                a{
                    font-size:15px;
                }
            }
            
        }
    }
}
@media(max-width:811px){
    .icon{
        display: none;
    }
    .menu{
        margin-right: 5px;
    }
}
@media(max-width:729px){
    .best-serv.best-serv h1{
        font-size: 32px;
    }
    .best-serv.best-serv{
        width: 73%;
    }
}
@media(max-width:590px){
    .your-class{
        .slick-prev.slick-prev,
        .slick-next.slick-next{
            top:90%;
        }
        .slick-prev.slick-prev{
            left:40%;
        }
        .slick-next.slick-next{
            right: 40%;
        }
    }
}
@media (max-width: 681px) {
    .menu{
        display: none;
    }
    .mobile-tab,#burg,#mobile{
        display: flex;
    }
    #burg{
        background: #232323;
        display: flex;
        justify-content: space-between;
        background: none;
        margin-bottom: 20px;
        margin-right: 20px;
        a:hover{
            border: 1px solid white;  
        }
        
    span{
        display: flex;
        margin: 8px;
        width: 30px;
        height: 1px;
        background: white;
        z-index: 999;
    }
}  
   
    .mobile-tab{
        display: flex;
        width: 100%;
        background: none;
        justify-content: center; 
        background:#483c6e00;
        
        a{
        font:16px/21px 'Be Vietnam', sans-serif;
        color: #eeeff3;
        font-weight: 500;  
        text-transform: uppercase;
        letter-spacing: 0.4px;
        transition: 0.3s linear;
        text-decoration: none;
         a:hover{
            background: #06948070;
        }
        }
        li{
            list-style-type: none;
            margin: 5% 5%;
        }
        ul{
            flex-direction: column;
            align-items: center;
             padding:5% 0;
            width: 170px;
        }
}

}
.your-class{
    .slick-next:before {
        content: url(../images/icon/right_arrow.png);
    }
    .slick-prev:before {
        content: url(../images/icon/left_arrow.png);
    }
    .slick-next {
        right: 43px;
        top: 262px;

    }
    .slick-prev {
        left: 36px;
        top: 262px;
        z-index: 2;
    }
}
    .slick-slider{
        text-align: center;
    }
    
    .slick-dots li button{
        display: none;
    }

.slaid-one,
.slaid-two,
.slaid-three{
    h1{
        font:48px 'Be Vietnam', sans-serif;
        color: #ffffff;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom:28px;
    }
    
    p{  margin:0 0 56px 0;
        opacity: 0.7;
        color: #ffffff;
        font:10px 'Be Vietnam', sans-serif;
        font-weight: 400;
    }
    button{
        width: 112px;
        height: 37px;
        border: 2px solid #ffffff;
        background: none;
        color: #ffffff;
        font-family: 'Be Vietnam', sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        position: absolute;
        bottom: 130px;
        cursor: pointer;
        transition: 0.3s linear;
    }
    button:hover{
        background: #aca6bd66;
    }
    
}
@import 'main.scss';
@import 'footer.scss';

